/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 100%;
  /* overflow: hidden; */
  padding: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /* margin: var(--ifm-spacing-horizontal) auto; */
  max-width: var(--ifm-container-width);
  padding: 0 var(--ifm-spacing-horizontal);
  width: 100%;
}

.bannerContainer {
  /* background-image: url(https://unity.com/sites/default/files/styles/16_9_l_scale_width/public/2021-03/hero-plastic.jpg?itok=6ik9zzvS);
  background-repeat: no-repeat; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  filter: blur(2px);
  transform: scale(1.01);
}

.main { position: relative; }

